configuration {
    cycle: false;
    disable-history: true;
    hide-scrollbar: false;

    display-drun: "Applications 󱓞 ";
    display-run: "Commands  ";
    display-window: "Windows  ";
    display-filebrowser: "Files  ";
    display-ssh: "SSH 󰌘";

    display-calc: "Calculator  ";
    display-emoji: "Emoji  ";
    display-nerdy: "Icons  ";
    display-clipboard: "Clipboard  ";
    display-power: "Power ⏻ ";

    filebrowser {
        directory: "/home";
    }

    inputchange {
        action: "kb-row-first";
    }
}

@theme "custom"
