/* Colors - Ekko Dark */

@define-color black #000000;
@define-color bright-black #222222;
@define-color darker-gray #444444;
@define-color dark-gray #666666;
@define-color light-gray #999999;
@define-color lighter-gray #bbbbbb;
@define-color white #dddddd;
@define-color bright-white #ffffff;

@define-color red #ee5555;
@define-color orange #ff8833;
@define-color yellow #eecc00;
@define-color green #99bb44;
@define-color cyan #66ccbb;
@define-color blue #4499dd;
@define-color purple #cc77bb;
@define-color brown #bb6622;

/* Text and border colors for modules */

@define-color power-profiles-daemon-color @cyan;
@define-color power-profiles-daemon-performance-color @red;
@define-color power-profiles-daemon-balanced-color @yellow;
@define-color power-profiles-daemon-power-saver-color @green;

/* Base Styling */

* {
    border: none;
    border-radius: 0;
    font-family: "monospace";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: @bright-black;
    color: @white;
}

/* Common Module Styling */

#workspaces,
#window,
#custom-hardware-wrap,
#custom-power,
#clock,
#cpu,
#memory,
#temperature,
#battery,
#network,
#pulseaudio,
#wireplumber,
#backlight,
#disk,
#power-profiles-daemon,
#idle_inhibitor,
#tray {
    padding: 0 10px;
    margin: 0 2px;
    background-color: transparent;
    border-bottom: 2px solid @blue;
}

#workspaces button:hover,
#custom-hardware-wrap:hover,
#custom-power:hover,
#clock:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#backlight:hover,
#disk:hover,
#power-profiles-daemon:hover,
#idle_inhibitor:hover {
    background: @darker-gray;
}

/* Workspaces */

#workspaces button {
    padding: 0 5px;
    margin: 0;
}

#workspaces button.focused {
    color: @bright-white;
}

#workspaces button.empty:not(.focused) {
    color: @dark-gray;
}

#workspaces button.urgent {
    background-color: @red;
    color: @black;
}

/* Other Modules */

#temperature.critical {
    color: @red;
}

#power-profiles-daemon {
    color: @power-profiles-daemon-color;
}

#power-profiles-daemon.performance {
    color: @power-profiles-daemon-performance-color;
}

#power-profiles-daemon.balanced {
    color: @power-profiles-daemon-balanced-color;
}

#power-profiles-daemon.power-saver {
    color: @power-profiles-daemon-power-saver-color;
}

#battery.charging,
#battery.plugged {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @red;
}

#network.disconnected {
    color: @red;
}

#pulseaudio.muted {
    color: @red;
    font-weight: 900;
}

#wireplumber.muted {
    color: @red;
    font-weight: 900;
}

#idle_inhibitor.activated {
    color: @red;
}

#tray {
    background-color: transparent;
    padding: 0 10px;
    margin: 0 2px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    color: @red;
}
